@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*box의 크기는 그만큼 더 커지지 않고 사용자가 지정한 너비나 높이만큼 길이에 맞추게 된다*/
  font-family: "Poppins", sans-serif; /*Poppins 있으면 사용, 없으면 snas-serif 사용*/
}

body {
  background: #eaeaea;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 8%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #222;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;/*애니메이션 실행시 사용. 애니메이션 끝났을때 해당 컴포넌트의 마지막 상태 유지. */
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #222;
  text-decoration: none;
  font-weight: 500;
  margin: 0 20px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));/*0.2초마다 --i 1,2,3,4,5 순서대로 딜레이*/
}

.navbar a:hover,
.navbar a.active {
  color: #1743e3;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 40px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid transparent;
  text-decoration: none;
  transform: rotate(45deg); /*양수면 시계 방향 돌림,음수면 시계 반대 방향*/
  transition: 0.5s;
  opacity: 0;
  animation: slideSci 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  border-color: #eaeaea;
}

.social-media a i {
  font-size: 24px;
  color: #eaeaea;
  transform: rotate(-45deg);
}

.home {
  position: relative; /*자기 자신을 기준*/
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 8% 0;
  overflow: hidden;
}

.home-content {
  max-width: 800px;
}

.home-content h1 {
  font-size: 50px;
  line-height: 1.2;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  font-size: 40px;
  color: #1743e3;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  font-size: 16px;
  margin: 15px 0 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.6s;
}

.btn {
  display: inline-block;
  padding: 10px 28px;
  background: #1743e3;
  border: 2px solid #1743e3;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-size: 16px;
  color: #eaeaea;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.btn:hover {
  background: transparent;
  color: #1743e3;
}

.home-img {
  position: relative;
  right: -15%;
  width: 450px;
  height: 450px;
  transform: rotate(45deg);
}

.home-img .rhombus {
  position: absolute; /*가장 가까운 위치 지정 조상 요소에 대해 상대적으로 배치 단, 조상 중 위치 지정 요소가 없다면 초기 컨테이닝 블록을 기준으로 삼습니다.*/
  width: 100%;
  height: 100%;
  background: #eaeaea;
  border: 25px solid #1743e3;
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);/*https://www.codingfactory.net/10628 참조*/
  opacity: 0;
  animation: zoomOut 1s ease forwards;
  animation-delay: 1.6s;
}

.home-img .rhombus img {
  position: absolute;
  top: 50px;
  left: -250px;
  max-width: 750px;
  transform: rotate(-45deg);
  opacity: 0;
  animation: car 1s ease forwards;
  animation-delay: 2s;
}

.home .rhombus2 {
  position: absolute;
  top: -20%;
  right: -20%;
  width: 700px;
  height: 700px;
  background: #1743e3;
  transform: rotate(45deg);
  z-index: -1;
  opacity: 0;
  animation: rhombus2 1s ease forwards;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight { /*오른쪽으로 슬라이드 되는 애니메이션*/
  0% { /*애니메이션의 시작 프레임*/
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {/*애니메이션의 마지막 프레임*/
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {/*아래서 위로*/
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideSci {
  0% {
    transform: translateX(100px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(45deg);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);/*sacle(x) x만큼 확대*/ 
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes car {
  0% {
    transform: translate(300px, -300px) scale(0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(-45deg);
    opacity: 1;
  }
}

@keyframes rhombus2 {
  0% {
    right: -40%;
    opacity: 0;
  }
  100% {
    right: -20%;
    opacity: 1;
  }
}
